body{
  color:#C9CCAD;
  background-color: #1D2733;
}
.list{
	width: 45%;
	margin: 0 auto;
	padding: 15px;
  padding-right: 0;
}

.content{
  margin: 0;
  padding: 0;
}
input[type="text"]{
  width: 70%;
  margin: 0;
  padding: 8px;
  float:left;
}
input[type="submit"], button{
  width: 26%;
  margin: 0;
  padding: 5px;
  background: #FFF;
  border: 1px solid #FFF;
  color:#333;
  cursor: pointer;
  float:right;
}
ul{
  background-color: #515C65;
  list-style: none;
  margin: 0;
  padding: 0;
  border:1px solid #000;
   min-height: 400px;
  max-height: 400px;
  overflow:scroll; 
}

li{
  background-color: #515C65;
  border: 2px solid #FFF;
  padding: 5px 0 5px 8px;
  cursor: pointer;
  
  font-size: 20px;
}
li:hover{
  border: 2px solid #000;
}

